body {
    margin : 0;
}

.navbar a {
    text-decoration : none;
    color : white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #6B3077;
    padding: 8px 120px;
    font-family: 'Noto Sans KR', sans-serif;
}

.navbar__logo {
    font-size: 24px;
}

article {
    padding : 20px 120px;
    font-family: 'Noto Sans KR', sans-serif;
}

.title {
    display : flex;
    justify-content: space-between;
    align-items: center;
}

#choice_option {
    display : none;
}

#post-control {
    display : none;
}

#add-reply {
    display : none;
}

@media screen and (max-width: 1080px) {
    .navbar {
        padding: 8px 12px;
    }

    article {
        padding : 8px 12px;
    }
}