body {
    margin : 0;
}

.navbar a {
    text-decoration : none;
    color : white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #6B3077;
    padding: 8px 120px;
}

.navbar__logo {
    font-size: 24px;
}

article {
    padding : 20px 120px;
}

.title {
    display : flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .navbar {
        padding: 8px 12px;
    }

    article {
        padding : 8px 12px;
    }
}