{{>layout/header}}

<article>
    {{#questions}}
        <div class = "card">
            <div class="card-body">
                <h5 class = "card-title">{{id}}. {{content}}</h5>
                {{#necessaryAns}}
                    <p>*</p>
                {{/necessaryAns}}

                {{^choicable}}
                    <div id ="essay-answer">
                        <textarea class = "form-control" placeholder="내용을 입력하세요"></textarea>
                    </div>
                {{/choicable}}

                {{#choicable}}
                    {{!choiceCnt}}
                    {{#multiple}}
                        {{#choice1}}<label><input class="form-check-input" type="checkbox"/>{{choice1}}</label><br>{{/choice1}}
                        {{#choice2}}<label><input class="form-check-input" type="checkbox"/>{{choice2}}</label><br>{{/choice2}}
                        {{#choice3}}<label><input class="form-check-input" type="checkbox"/>{{choice3}}</label><br>{{/choice3}}
                        {{#choice4}}<label><input class="form-check-input" type="checkbox"/>{{choice4}}</label><br>{{/choice4}}
                        {{#choice5}}<label><input class="form-check-input" type="checkbox"/>{{choice5}}</label><br>{{/choice5}}
                        {{#choice6}}<label><input class="form-check-input" type="checkbox"/>{{choice6}}</label><br>{{/choice6}}
                        {{#choice7}}<label><input class="form-check-input" type="checkbox"/>{{choice7}}</label><br>{{/choice7}}
                        {{#choice8}}<label><input class="form-check-input" type="checkbox"/>{{choice8}}</label><br>{{/choice8}}
                        {{#choice9}}<label><input class="form-check-input" type="checkbox"/>{{choice9}}</label><br>{{/choice9}}
                        {{#choice10}}<label><input class="form-check-input" type="checkbox"/>{{choice10}}</label><br>{{/choice10}}
                    {{/multiple}}

                    {{^multiple}}
                        {{#choice1}}<label><input name = "select-one" class="form-check-input" type="radio"/>{{choice1}}</label><br>{{/choice1}}
                        {{#choice2}}<label><input name = "select-one" class="form-check-input" type="radio"/>{{choice2}}</label><br>{{/choice2}}
                        {{#choice3}}<label><input name = "select-one" class="form-check-input" type="radio"/>{{choice3}}</label><br>{{/choice3}}
                        {{#choice4}}<label><input name = "select-one" class="form-check-input" type="radio"/>{{choice4}}</label><br>{{/choice4}}
                        {{#choice5}}<label><input name = "select-one" class="form-check-input" type="radio"/>{{choice5}}</label><br>{{/choice5}}
                        {{#choice6}}<label><input name = "select-one" class="form-check-input" type="radio"/>{{choice6}}</label><br>{{/choice6}}
                        {{#choice7}}<label><input name = "select-one" class="form-check-input" type="radio"/>{{choice7}}</label><br>{{/choice7}}
                        {{#choice8}}<label><input name = "select-one" class="form-check-input" type="radio"/>{{choice8}}</label><br>{{/choice8}}
                        {{#choice9}}<label><input name = "select-one" class="form-check-input" type="radio"/>{{choice9}}</label><br>{{/choice9}}
                        {{#choice10}}<label><input name = "select-one" class="form-check-input" type="radio"/>{{choice10}}</label><br>{{/choice10}}
                    {{/multiple}}

                    {{#etcAnswer}}
                        기타 <input type = "text" class = "form-control"/>
                    {{/etcAnswer}}
                {{/choicable}}
            </div>
        </div>
        <br>
    {{/questions}}
</article>
{{>layout/footer}}