{{>layout/header}}
<article>
    <div class = "card">
        <div class="card-body">
            <strong>{{user.name}}</strong> 회원님<br>
            이메일 : {{user.email}} <br>
            포인트 : {{user.point}} <br>
            관심 주제
            {{^user.subject}}
                <button class="btn btn-outline-secondary dropdown-toggle" id="select-subject" type="button" data-bs-toggle="dropdown" aria-expanded="false">선택</button>
            {{/user.subject}}
            {{#user}}
                {{#subject}}
                <button class="btn btn-outline-secondary dropdown-toggle" id="select-subject" type="button" data-bs-toggle="dropdown" aria-expanded="false">{{subject}}</button>
                {{/subject}}
            {{/user}}
            <ul class="dropdown-menu">
                <li><a class="dropdown-item">인문학</a></li>
                <li><a class="dropdown-item">사회과학</a></li>
                <li><a class="dropdown-item">자연과학</a></li>
                <li><a class="dropdown-item">공학</a></li>
                <li><a class="dropdown-item">예술</a></li>
            </ul>
            <button class="btn btn-success" id="update-subject">변경</button>
        </div>
    </div>

    <br>
    <h5>나의 게시글</h5>
    <table id = "survey-list" class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th style="width:50px">번호</th>
            <th>제목</th>
            <th style="width:90px">결과확인</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#surveys}}
            <tr>
                <td id = "row_id">{{id}}</td>
                <td><a href="/posts/detail/{{id}}">{{title}}</a></td>
                <td><a href="/surveys/result/{{id}}">결과보기</a></td>
            </tr>
        {{/surveys}}
        </tbody>
    </table>

</article>
{{>layout/footer}}