{{>layout/header}}

<article>
    <h1>게시글 수정</h1>
    <br>
    <form>
        <input type="hidden" class="form-control" id="id" value="{{post.id}}">
        <input type="hidden" class="form-control" id="author" value="{{post.author}}">
        <input type="hidden" id="post-survey-id" value="{{post.id}}">

        <div class="form-group">
            <label for="title">제목</label>
            <input type="text" class="form-control" id="title" value="{{post.title}}">
        </div>
        <br>

        <div class="form-group">
            <label for="content">내용</label>
            <textarea class="form-control" id="content">{{post.content}}</textarea>
        </div>
        <br>

        <div class="form-group">
            <label for="answerGoal">목표 설문수</label>
            <input type="number" class="form-control" id="answerGoal" min="1" max="5" value="{{post.answerGoal}}">
        </div>
        <br>

        <div class="form-group">
            <label for="expiredDate">마감일자</label>
            <input type="datetime-local" class="form-control" id="expiredDate" value="{{post.expiredDate}}">
        </div>
        <br>
    </form>

    <a href="/posts/detail/{{id}}" role="button" class="btn btn-secondary">취소</a>
    <button type="button" class="btn btn-success" id="btn-question-update">질문 편집</button>
    <button type="button" class="btn btn-primary" id="btn-update">수정 완료</button>
</article>

{{>layout/footer}}