{{>layout/header}}

<article>
    <h1>게시글 등록</h1>
    <br>
    <form>
        <div class="form-group">
            <label for="title">제목</label>
            <input type="text" class="form-control" id="title" placeholder="제목을 입력하세요">
        </div>
        <br>

        <div class="form-group">
            <label for="author">작성자</label>
            <input type="text" class="form-control" id="author" value="{{userName}}" readonly>
        </div>
        <br>

        <input type="hidden" id="author_email" value="{{userEmail}}">

        <div class="form-group">
            <label for="surveyId">설문선택</label>
            <br>
            <a href="/surveys/save" role="button" class="btn btn-danger">설문 생성</a>
            <!--설문 목록 보여주고 선택할 수 있게함-->
            <!-- surveyId(surveyId)-->
            <!-- survey.author == userEmail인 설문 목록을 띄워야함-->
        </div>
        <br>


        <div class="form-group">
            <label for="content">내용</label>
            <textarea class="form-control" id="content" placeholder="내용을 입력하세요"></textarea>
        </div>
        <br>

        <div class="form-group">
            <label for="answerGoal">목표 설문수</label>
            <input type="number" class="form-control" id="answerGoal" min="1" max="5" placeholder="100 ~ 10,000">
        </div>
        <br>

        <div class="form-group">
            <label for="expiredDate">마감일자</label>
            <input type="datetime-local" class="form-control" id="expiredDate">
        </div>
        <br>

        <!--    isExpired(isExpired) -> false-->
    </form>

    <a href="/" role="button" class="btn btn-secondary">취소</a>
    <button type="button" class="btn btn-primary" id="btn-save">등록</button>
</article>

{{>layout/footer}}