{{>layout/header}}

<article>
    <table class="table table-bordered">
        <tr>
            <td style="width: 120px">글 번호</td>
            <td id="id">{{post.id}}</td>
        </tr>
        <tr>
            <td>작성자</td>
            <td>{{post.author}}</td>
        </tr>
        <tr>
            <td>제목</td>
            <td>{{post.title}}</td>
        </tr>
        <tr>
            <td>내용</td>
            <td style="white-space: pre-line;">{{post.content}}</td>
        </tr>
        <tr>
            <td>목표 설문 수</td>
            <td>{{post.answerGoal}}</td>
        </tr>
        <tr>
            <td>마감일자</td>
            <td>{{post.expiredDate}}</td>
        </tr>
    </table>

    <input type="hidden" id="detail_user_email" value="{{userEmail}}">
    <input type="hidden" id="detail_author_email" value="{{post.authorEmail}}">

    {{#isParticipated}}
        <h5>이미 참여하신 설문입니다.</h5>
    {{/isParticipated}}
    {{#expired}}
        {{^isParticipated}}
            <div id="add-reply">
                <a href="/answers/save/{{post.surveyId}}" role="button" class="btn btn-success">참여하기</a>
            </div>
        {{/isParticipated}}
    {{/expired}}
    {{^expired}}
        <h5 id = "expired-warning">해당 설문은 마감되었습니다.</h5>
    {{/expired}}

    <div id="post-control">
        <a href="/" role="button" class="btn btn-secondary">뒤로</a>
        <a href="/posts/update/{{id}}" role="button" class="btn btn-primary">수정</a>
        <button type="button" class="btn btn-danger" id="btn-delete">삭제</button>
    </div>
</article>

{{>layout/footer}}